@import "tailwindcss";
/* npx @tailwindcss/cli -i ./src/styles/input.css -o ./src/styles/output.css --watch */

body {
  font-family: "Sixtyfour", sans-serif;
}

/* @layer utilities {
  .tail-animate {
    animation: tailSway 0.35s ease-in-out;
  }
  .snakeHead {
    transition: transform 0.25s ease-in-out;
  }
}

@keyframes tailSway {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(4deg);
  }
} */
